<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-thumbnail color="light">
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail >
       <ion-label color="light" >
       mix song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Gajendra rana top 10 song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Honey Singh top 10 song
       </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Narendra Singh Negi top 10 song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Gajendra rana top 10 song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Honey Singh top 10 song
       </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Narendra Singh Negi top 10 song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Gajendra rana top 10 song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Honey Singh top 10 song
       </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Narendra Singh Negi top 10 song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Gajendra rana top 10 song
       </ion-label>
      </ion-col>
      <ion-col>
        <ion-thumbnail>
          <img src="../assets/icon/thumbnail.svg">
        </ion-thumbnail>
       <ion-label color="light">
       Honey Singh top 10 song
       </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
